@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
}
.logo-text{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 40px 30px;
}
.logo-text h1{
    margin-left: 10px;
}
.list-items-bottom{
    margin-top: 60px;
}
.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 40px;
}
.icon-text p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 40px;
    font-weight: 700;
}
.navbar-input{
    width: 900px;
    background-color: lightgray;
    border: none;
    border-radius: 15px;
    height: 30px;
    margin-left: 20px;
    margin-right: 200px;
}
.navbar-ring{
    margin-right: 0 30px;
}
.navbar-avatar{
    margin: 0 30px;
}
.navbar-name{
    margin: 0 40px;
}
.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}
.left-avatar{
    margin-right: 20px;
}
.left-text-top{
    font-size: 12px;
    font-weight: 800;
}
.left-text-bottom{
    font-size: 20px;
    font-weight: 900;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-right: 60px;
}
.btn{
    width: 120px;
    height: 40px;
    background-color: #32a6db;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.content{
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 70% 30%;
}
h4{
    margin: 20px 0 0 30px;
    font-size: 18px;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    background-color: white;
    border-left: 7px solid #facc15;
    border-radius: 10px;
    width: 80%;
    height: 195px;
    margin: 20px 0 20px 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card h5{
    font-weight: 900;
    font-size: large;
    margin-bottom: 10px;
}
.card p{
    color: grey;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.icons-icon{
    margin: 30px 10px 0 10px;
}
.ann h4, .trend h4{
    margin: 20px 0 0 0px;
    font-size: 20px;
}
.ann-trend{
    display: grid;
    grid-template-rows: 50% 50%;
}
.ann-card{
    height: 80%;
    width: 80%;
    background-color: white;
    margin-top: 10px;
    border-radius: 12px;
    padding-top: 15px;
}
.trend-card{
    height: 70%;
    width: 70%;
    background-color: white;
    margin-top: 10px;
    padding: 16px 24px;
    border-radius: 10px;
}
.divider{
    border: 1px solid lightgray;
    margin: 0 50px;
}
.ann-text{
    padding: 10px 0 10px 55px;
}
.ann-text h6{
    font-size: 15px;
}
.ann-text p{
    font-size: 12px;
    color: gray;
    margin: 5px 0;
}
.trend-text-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
.trend-text{
    margin-left: 25px;
}
.trend-text h6{
    font-size: 15px;
}
.trend-text p{
    font-size: 15px;
    color: gray;
}